@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@200&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:#0c1022;
}
.box
{
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    height:400px;
    width:300px;
    background:rgba(0, 0, 0, 0.753); 
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}
.box::after
{
    content:'';
    position: absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    width:500px;
    height:500px;
    background-image: conic-gradient(transparent,transparent,transparent,#d400d4);
    animation: animate 4s linear infinite;
    animation-delay:-2s;
}
.box::before
{
    content:'';
    position: absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    width:500px;
    height:500px;
    background-image: conic-gradient(transparent,transparent,transparent,#00ccff);
    animation: animate 4s linear infinite;
    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
}
@keyframes animate
{
    0%
    {
        transform:rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.box span
{
    position:absolute;
    inset:5px;
    background:#0c1022;
    border-radius:16px;
    z-index:1;
}
.box h2
{
    position:absolute;
    color:white;
    z-index:2;
    font-size: 10em;
}

