*
{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body
{
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgb(105, 200, 200);
    min-height:100vh;
}
.clock
{
    height:350px;
    width:350px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgb(255,255,255) url(https://ae01.alicdn.com/kf/HTB1OXlaGVGWBuNjy0Fbq6z4sXXav.jpg_640x640Q90.jpg_.webp);
    background-size:cover;
    border-radius:50%;
    border: 20px solid white;
    box-shadow: inset 0 0 20px rgb(214, 201, 201),
    10px 20px 20px rgba(31, 32, 32, 0.668),
    0 0 0 4px rgb(255, 255, 255);
}
.clock::before
{
    content:' ';
    position: absolute;
    height:15px;
    width:15px;
    background: black;
    border-radius: 50%;
    z-index: 1000;
}
.hour
{
    position: relative;
    height:200px;
    width:208px;
    display:flex;
    justify-content:center;
    align-items:center;
   
}
.hour::before
{
    content: ' ';
    position: absolute;
    height:80px;
    width:8px;
    top:20px;
    left:100px;
    background: rgb(36, 34, 34);
    border-radius: 6px 6px 0 0;
    z-index: 10;
}
.min
{
    position: absolute;
    height:250px;
    width:104px;
    display:flex;
    justify-content:center;
    align-items:center;
   
}
.min::before
{
    content: ' ';
    position: absolute;
    height:100px;
    width:4px;
    top:25px;
    left:50px;
    background: rgb(143, 138, 138);
    border-radius: 6px 6px 0 0;
    z-index: 20;
}
.sec
{
    position: absolute;
    height:300px;
    width:102px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.sec::before
{
    content: ' ';
    position: absolute;
    height:170px;
    width:2px;
    top:25px;
    left:50px;
    background: rgb(162, 47, 47);
    border-radius: 6px 6px 0 0;
    z-index: 20;
    box-shadow: 10px 20px 20px rgba(31, 32, 32, 0.668),
}
