*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    /* background: url(https://i.ytimg.com/vi/hAxoK2PlS3Y/maxresdefault.jpg); */
    background: black}
.container{
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
    width: 300px;
    height: 650px;
}
/* .card{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 600px;
    width: 250px;
    z-index: 10;
    color:white;
    font-size: 2em;
} */
.drop ion-icon{
    color:white;
    animation: fly2 1.5s linear infinite;
    filter:drop-shadow(0 0 20px rgb(208, 255, 1))
}
.drop{
    position:absolute;
    font-size: 3.5rem;
    top:-20px;
    left:-20px;
    animation: fly 10s linear infinite;
}
@keyframes fly {
    0%{
        transform:translate(0,0);
    }
    20%{
        transform:translate(300px,0);
    }
    50%{
        transform:translate(300px,650px);
    }
    70%{
        transform:translate(0,650px);
    }
    100%{
        transform:translate(0,0);
    }
}
/*@keyframes fly2 {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}