*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}
.loader
{
    position: relative;
    width: 160px;
    height: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.loader div, .loader span
{
    position:absolute;
    left:0;
}
.loader div:nth-child(1)
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background:red;
    animation: animate1 5s linear infinite;
}
.loader div:nth-child(2)
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background:aqua;
    animation: animate2 5s linear infinite;
}
@keyframes animate1 {
    0%
    {
        transform: translateX(0);
    }
    50%
    {
        transform: translateX(80px);
    }
    100%
    {
        transform: translateX(0);
    }  
}
@keyframes animate2 {
    0%
    {
        transform: translateX(80px);
    }
    50%
    {
        transform: translateX(0px);
    }
    100%
    {
        transform: translateX(80px);
    }  
}
span
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background:black;
    animation: animatez 5s linear infinite;
}
@keyframes animatez {
    0%
    {
        transform: translateX(0);
        opacity: 0;
    }
    50%
    {
        transform: translateX(80px);
    }
    100%
    {
        transform: translateX(0);
    }  
}


